rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção de usuários
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regras para a coleção de bares
    match /bars/{barId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && 
                   request.auth.uid == request.resource.data.createdByUid;
      allow update: if request.auth != null && 
                   (request.auth.uid == resource.data.createdByUid || 
                    request.auth.uid == resource.data.primaryOwnerUid);
      allow delete: if request.auth != null && 
                   (request.auth.uid == resource.data.createdByUid || 
                    request.auth.uid == resource.data.primaryOwnerUid);
    }
    
    // Regras para a coleção de eventos
    match /events/{eventId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null && 
                   request.auth.uid == resource.data.createdByUid;
      allow delete: if request.auth != null && 
                   request.auth.uid == resource.data.createdByUid;
    }
    
    // Regras para subcoleções de eventos dentro de bares
    match /bars/{barId}/events/{eventId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null && 
                   request.auth.uid == resource.data.createdByUid;
      allow delete: if request.auth != null && 
                   request.auth.uid == resource.data.createdByUid;
    }
    
    // Regras para subcoleções de membros dentro de bares
    match /bars/{barId}/members/{memberId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.uid;
      allow update: if request.auth != null && request.auth.uid == resource.data.uid;
      allow delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }
    
    // Regras para collectionGroup de membros
    match /{path=**}/members/{memberId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  }
}